<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Properties in Range</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container"
       fxLayout="column wrap"
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">

    <div fxFlex="100">
      <table mat-table [dataSource]="allPropertiesInRange" class="'mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price (£) </th>
          <td mat-cell *matCellDef="let element"> {{element.price}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}}</td>
        </ng-container>

        <ng-container matColumnDef="housetype">
          <th mat-header-cell *matHeaderCellDef> House Type </th>
          <td mat-cell *matCellDef="let element"> {{element.housetype}}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
        <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
      </table>
    </div>
  </div>
</ion-content>
