<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title"
           text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout class="map-page-wrapper"
    >
        <ContentView
                height="100%"
                width="100%"
        >
            <Mapbox
                    accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
                    mapStyle="traffic_day"
                    latitude="51.9280572"
                    longitude="4.4201952"
                    zoomLevel="7"
                    delay="450"
                    showUserLocation="true"
                    hideCompass="false"
                    disableZoom="false"
                    disableRotation="true"
                    disableScroll="false"
                    disableTilt="false"
                    (mapReady)="onMapReady($event)">
            </Mapbox>
        </ContentView>
    </StackLayout>
</GridLayout>


